
@Html.Partial("../Shared/StudentViews")

@model Test

@{
    var correct_results = ViewBag.correct_results;
}

<h1>Αποτέλέσματα</h1>

@if (Model != null && Model.questions != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.questions[0].question)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.questions[0].given_answer)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.questions[0].answer)
            </th>
        </tr>

        @for (int i = 0; i < Model.questions.Count; i++)
        {
            string color = "rgba(255,0,0,0.4)"; //Red
            if (correct_results[i])
            {
                color = "rgba(0,255,0,0.4)"; // Green
            }
            <tr style="background-color: @color">
                <td>
                    @Model.questions[i].question
                </td>
                <td>
                    @Model.questions[i].given_answer
                </td>
                <td>
                    @Model.questions[i].answer
                </td>
            </tr>
        }
    </table>
}
