<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .login-display {
            font-weight: 800;
            margin: 5px;
        }
      </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("We Study", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Κεντρική Σελίδα", "Index", "Home")</li>
                    <li>@Html.ActionLink("Θεωρία", "Theory", "Home")</li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Παιχνίδια Εκμάθησης <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Κάρτες", "CardGame", "Games", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Σύννεφα", "CloudGame", "Games", null, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Κάνε Τεστ <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Απλά Τεστ", "PickTest", "SimpleTest", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Τελικό Τεστ", "Questions", "FinalTest", null, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>
                    @if (Session["is_teacher"] != null)
                    {
                        if ((bool)Session["is_teacher"])
                        {
                            <li>@Html.ActionLink("Δάσκαλος", "Students", "Teacher")</li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["is_teacher"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                Συνδεδεμένος ως : <span class="login-display">@Session["name"] <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Αποσύνδεση", "Logout", "Authorization")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Σύνδεση/Εγγραφή", "Index", "Authorization")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div id="body_container" class="container body-content">
        <div style="overflow: auto; height: 80vh; margin: 45px 30px 30px 35px;">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
